# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
venv/
ENV/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Secrets
.env
.env.local
*.key
*.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
